include README.md
include mkdocs.yml
include requirements-docs.txt
recursive-include docs *.md
recursive-include docs *.png
recursive-include docs *.html
recursive-include docs/graphs *.svg
include LICENSE
include Makefile
include scripts/cibw_before_all.sh
include scripts/gen_example_graphs.py

recursive-include csrc *.c
recursive-include pyuring *.py
include pyuring/py.typed
include pyuring/__init__.pyi
recursive-include tests *.py
